DDDiscoveryElementLib/xml-resources/web-service-references/DiscoveryElementService/wsdl/localhost_8080/DDWSProvider/DiscoveryElementService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.dd/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.dd/">

<xs:element name="runDiscoveryStartingWithFrontends" type="tns:runDiscoveryStartingWithFrontends"/>

<xs:element name="runDiscoveryStartingWithFrontendsResponse" type="tns:runDiscoveryStartingWithFrontendsResponse"/>

<xs:complexType name="runDiscoveryStartingWithFrontends">
<xs:sequence>
<xs:element name="conversationId" type="xs:int"/>
<xs:element name="clientId" type="xs:string" minOccurs="0"/>
<xs:element name="frontendUrls" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fromTimestamp" type="xs:long"/>
<xs:element name="toTimestamp" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="runDiscoveryStartingWithFrontendsResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>