DDDiscoveryElementLib/src/META-INF/Backup.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dd/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dd/" name="Backup">
<types>
<xsd:schema>
<xsd:import namespace="http://dd/" schemaLocation="http://localhost:8080/DDWSProvider/Backup?xsd=1"/>
</xsd:schema>
</types>
<message name="GP_getInterDependenciesForTimeWindow">
<part name="parameters" element="tns:GP_getInterDependenciesForTimeWindow"/>
</message>
<message name="GP_getInterDependenciesForTimeWindowResponse">
<part name="parameters" element="tns:GP_getInterDependenciesForTimeWindowResponse"/>
</message>
<message name="DKL_getAntecedentServicesOfDependentIp">
<part name="parameters" element="tns:DKL_getAntecedentServicesOfDependentIp"/>
</message>
<message name="DKL_getAntecedentServicesOfDependentIpResponse">
<part name="parameters" element="tns:DKL_getAntecedentServicesOfDependentIpResponse"/>
</message>
<message name="GP_Multihop_getInterDependenciesForTimeWindow">
<part name="parameters" element="tns:GP_Multihop_getInterDependenciesForTimeWindow"/>
</message>
<message name="GP_Multihop_getInterDependenciesForTimeWindowResponse">
<part name="parameters" element="tns:GP_Multihop_getInterDependenciesForTimeWindowResponse"/>
</message>
<message name="GP_getDependentHosts">
<part name="parameters" element="tns:GP_getDependentHosts"/>
</message>
<message name="GP_getDependentHostsResponse">
<part name="parameters" element="tns:GP_getDependentHostsResponse"/>
</message>
<message name="GP_getBackupData">
<part name="parameters" element="tns:GP_getBackupData"/>
</message>
<message name="GP_getBackupDataResponse">
<part name="parameters" element="tns:GP_getBackupDataResponse"/>
</message>
<message name="GP_storeBackupData">
<part name="parameters" element="tns:GP_storeBackupData"/>
</message>
<message name="GP_storeBackupDataResponse">
<part name="parameters" element="tns:GP_storeBackupDataResponse"/>
</message>
<message name="GP_getMetadata">
<part name="parameters" element="tns:GP_getMetadata"/>
</message>
<message name="GP_getMetadataResponse">
<part name="parameters" element="tns:GP_getMetadataResponse"/>
</message>
<message name="GP_getBackupTargetsOfNode">
<part name="parameters" element="tns:GP_getBackupTargetsOfNode"/>
</message>
<message name="GP_getBackupTargetsOfNodeResponse">
<part name="parameters" element="tns:GP_getBackupTargetsOfNodeResponse"/>
</message>
<message name="GP_addMetadata">
<part name="parameters" element="tns:GP_addMetadata"/>
</message>
<message name="GP_addMetadataResponse">
<part name="parameters" element="tns:GP_addMetadataResponse"/>
</message>
<message name="GP_addTargetOfNode">
<part name="parameters" element="tns:GP_addTargetOfNode"/>
</message>
<message name="GP_addTargetOfNodeResponse">
<part name="parameters" element="tns:GP_addTargetOfNodeResponse"/>
</message>
<message name="DKL_storeIpDependence">
<part name="parameters" element="tns:DKL_storeIpDependence"/>
</message>
<message name="DKL_storeIpDependenceResponse">
<part name="parameters" element="tns:DKL_storeIpDependenceResponse"/>
</message>
<message name="GP_Multihop_getBackupData">
<part name="parameters" element="tns:GP_Multihop_getBackupData"/>
</message>
<message name="GP_Multihop_getBackupDataResponse">
<part name="parameters" element="tns:GP_Multihop_getBackupDataResponse"/>
</message>
<message name="GP_Multihop_storeBackupData">
<part name="parameters" element="tns:GP_Multihop_storeBackupData"/>
</message>
<message name="GP_Multihop_storeBackupDataResponse">
<part name="parameters" element="tns:GP_Multihop_storeBackupDataResponse"/>
</message>
<portType name="Backup">
<operation name="GP_getInterDependenciesForTimeWindow">
<input wsam:Action="http://dd/Backup/GP_getInterDependenciesForTimeWindowRequest" message="tns:GP_getInterDependenciesForTimeWindow"/>
<output wsam:Action="http://dd/Backup/GP_getInterDependenciesForTimeWindowResponse" message="tns:GP_getInterDependenciesForTimeWindowResponse"/>
</operation>
<operation name="DKL_getAntecedentServicesOfDependentIp">
<input wsam:Action="http://dd/Backup/DKL_getAntecedentServicesOfDependentIpRequest" message="tns:DKL_getAntecedentServicesOfDependentIp"/>
<output wsam:Action="http://dd/Backup/DKL_getAntecedentServicesOfDependentIpResponse" message="tns:DKL_getAntecedentServicesOfDependentIpResponse"/>
</operation>
<operation name="GP_Multihop_getInterDependenciesForTimeWindow">
<input wsam:Action="http://dd/Backup/GP_Multihop_getInterDependenciesForTimeWindowRequest" message="tns:GP_Multihop_getInterDependenciesForTimeWindow"/>
<output wsam:Action="http://dd/Backup/GP_Multihop_getInterDependenciesForTimeWindowResponse" message="tns:GP_Multihop_getInterDependenciesForTimeWindowResponse"/>
</operation>
<operation name="GP_getDependentHosts">
<input wsam:Action="http://dd/Backup/GP_getDependentHostsRequest" message="tns:GP_getDependentHosts"/>
<output wsam:Action="http://dd/Backup/GP_getDependentHostsResponse" message="tns:GP_getDependentHostsResponse"/>
</operation>
<operation name="GP_getBackupData">
<input wsam:Action="http://dd/Backup/GP_getBackupDataRequest" message="tns:GP_getBackupData"/>
<output wsam:Action="http://dd/Backup/GP_getBackupDataResponse" message="tns:GP_getBackupDataResponse"/>
</operation>
<operation name="GP_storeBackupData">
<input wsam:Action="http://dd/Backup/GP_storeBackupDataRequest" message="tns:GP_storeBackupData"/>
<output wsam:Action="http://dd/Backup/GP_storeBackupDataResponse" message="tns:GP_storeBackupDataResponse"/>
</operation>
<operation name="GP_getMetadata">
<input wsam:Action="http://dd/Backup/GP_getMetadataRequest" message="tns:GP_getMetadata"/>
<output wsam:Action="http://dd/Backup/GP_getMetadataResponse" message="tns:GP_getMetadataResponse"/>
</operation>
<operation name="GP_getBackupTargetsOfNode">
<input wsam:Action="http://dd/Backup/GP_getBackupTargetsOfNodeRequest" message="tns:GP_getBackupTargetsOfNode"/>
<output wsam:Action="http://dd/Backup/GP_getBackupTargetsOfNodeResponse" message="tns:GP_getBackupTargetsOfNodeResponse"/>
</operation>
<operation name="GP_addMetadata">
<input wsam:Action="http://dd/Backup/GP_addMetadataRequest" message="tns:GP_addMetadata"/>
<output wsam:Action="http://dd/Backup/GP_addMetadataResponse" message="tns:GP_addMetadataResponse"/>
</operation>
<operation name="GP_addTargetOfNode">
<input wsam:Action="http://dd/Backup/GP_addTargetOfNodeRequest" message="tns:GP_addTargetOfNode"/>
<output wsam:Action="http://dd/Backup/GP_addTargetOfNodeResponse" message="tns:GP_addTargetOfNodeResponse"/>
</operation>
<operation name="DKL_storeIpDependence">
<input wsam:Action="http://dd/Backup/DKL_storeIpDependenceRequest" message="tns:DKL_storeIpDependence"/>
<output wsam:Action="http://dd/Backup/DKL_storeIpDependenceResponse" message="tns:DKL_storeIpDependenceResponse"/>
</operation>
<operation name="GP_Multihop_getBackupData">
<input wsam:Action="http://dd/Backup/GP_Multihop_getBackupDataRequest" message="tns:GP_Multihop_getBackupData"/>
<output wsam:Action="http://dd/Backup/GP_Multihop_getBackupDataResponse" message="tns:GP_Multihop_getBackupDataResponse"/>
</operation>
<operation name="GP_Multihop_storeBackupData">
<input wsam:Action="http://dd/Backup/GP_Multihop_storeBackupDataRequest" message="tns:GP_Multihop_storeBackupData"/>
<output wsam:Action="http://dd/Backup/GP_Multihop_storeBackupDataResponse" message="tns:GP_Multihop_storeBackupDataResponse"/>
</operation>
</portType>
<binding name="BackupPortBinding" type="tns:Backup">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GP_getInterDependenciesForTimeWindow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DKL_getAntecedentServicesOfDependentIp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GP_Multihop_getInterDependenciesForTimeWindow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GP_getDependentHosts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GP_getBackupData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GP_storeBackupData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GP_getMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GP_getBackupTargetsOfNode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GP_addMetadata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GP_addTargetOfNode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DKL_storeIpDependence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GP_Multihop_getBackupData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GP_Multihop_storeBackupData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Backup">
<port name="BackupPort" binding="tns:BackupPortBinding">
<soap:address location="http://localhost:8080/DDWSProvider/Backup"/>
</port>
</service>
</definitions>