DDDiscoveryElementLib/xml-resources/web-service-references/Backup/wsdl/localhost_8080/DDWSProvider/Backup.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://dd/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://dd/">

<xs:element name="DKL_getAntecedentServicesOfDependentIp" type="tns:DKL_getAntecedentServicesOfDependentIp"/>

<xs:element name="DKL_getAntecedentServicesOfDependentIpResponse" type="tns:DKL_getAntecedentServicesOfDependentIpResponse"/>

<xs:element name="DKL_storeIpDependence" type="tns:DKL_storeIpDependence"/>

<xs:element name="DKL_storeIpDependenceResponse" type="tns:DKL_storeIpDependenceResponse"/>

<xs:element name="GP_Multihop_getBackupData" type="tns:GP_Multihop_getBackupData"/>

<xs:element name="GP_Multihop_getBackupDataResponse" type="tns:GP_Multihop_getBackupDataResponse"/>

<xs:element name="GP_Multihop_getInterDependenciesForTimeWindow" type="tns:GP_Multihop_getInterDependenciesForTimeWindow"/>

<xs:element name="GP_Multihop_getInterDependenciesForTimeWindowAntecedent" type="tns:GP_Multihop_getInterDependenciesForTimeWindowAntecedent"/>

<xs:element name="GP_Multihop_getInterDependenciesForTimeWindowAntecedentResponse" type="tns:GP_Multihop_getInterDependenciesForTimeWindowAntecedentResponse"/>

<xs:element name="GP_Multihop_getInterDependenciesForTimeWindowResponse" type="tns:GP_Multihop_getInterDependenciesForTimeWindowResponse"/>

<xs:element name="GP_Multihop_getSystemDG" type="tns:GP_Multihop_getSystemDG"/>

<xs:element name="GP_Multihop_getSystemDGResponse" type="tns:GP_Multihop_getSystemDGResponse"/>

<xs:element name="GP_Multihop_storeBackupData" type="tns:GP_Multihop_storeBackupData"/>

<xs:element name="GP_Multihop_storeBackupDataResponse" type="tns:GP_Multihop_storeBackupDataResponse"/>

<xs:element name="GP_addMetadata" type="tns:GP_addMetadata"/>

<xs:element name="GP_addMetadataResponse" type="tns:GP_addMetadataResponse"/>

<xs:element name="GP_addTargetOfNode" type="tns:GP_addTargetOfNode"/>

<xs:element name="GP_addTargetOfNodeResponse" type="tns:GP_addTargetOfNodeResponse"/>

<xs:element name="GP_getBackupData" type="tns:GP_getBackupData"/>

<xs:element name="GP_getBackupDataResponse" type="tns:GP_getBackupDataResponse"/>

<xs:element name="GP_getBackupTargetsOfNode" type="tns:GP_getBackupTargetsOfNode"/>

<xs:element name="GP_getBackupTargetsOfNodeResponse" type="tns:GP_getBackupTargetsOfNodeResponse"/>

<xs:element name="GP_getDependentHosts" type="tns:GP_getDependentHosts"/>

<xs:element name="GP_getDependentHostsResponse" type="tns:GP_getDependentHostsResponse"/>

<xs:element name="GP_getInterDependenciesForTimeWindow" type="tns:GP_getInterDependenciesForTimeWindow"/>

<xs:element name="GP_getInterDependenciesForTimeWindowResponse" type="tns:GP_getInterDependenciesForTimeWindowResponse"/>

<xs:element name="GP_getMetadata" type="tns:GP_getMetadata"/>

<xs:element name="GP_getMetadataResponse" type="tns:GP_getMetadataResponse"/>

<xs:element name="GP_storeBackupData" type="tns:GP_storeBackupData"/>

<xs:element name="GP_storeBackupDataResponse" type="tns:GP_storeBackupDataResponse"/>

<xs:element name="Monitor_recordClientConversationFault" type="tns:Monitor_recordClientConversationFault"/>

<xs:element name="Monitor_recordClientConversationFaultResponse" type="tns:Monitor_recordClientConversationFaultResponse"/>

<xs:element name="Monitor_recordClientDependence" type="tns:Monitor_recordClientDependence"/>

<xs:element name="Monitor_recordClientDependenceResponse" type="tns:Monitor_recordClientDependenceResponse"/>

<xs:complexType name="Monitor_recordClientDependence">
<xs:sequence>
<xs:element name="clientProcessId" type="xs:string" minOccurs="0"/>
<xs:element name="frontEndServiceId" type="xs:string" minOccurs="0"/>
<xs:element name="dependenceTimestamp" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Monitor_recordClientDependenceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GP_addTargetOfNode">
<xs:sequence>
<xs:element name="nodeId" type="xs:string" minOccurs="0"/>
<xs:element name="targetId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_addTargetOfNodeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GP_Multihop_storeBackupData">
<xs:sequence>
<xs:element name="backupData" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_Multihop_storeBackupDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GP_getInterDependenciesForTimeWindow">
<xs:sequence>
<xs:element name="nodeId" type="xs:string" minOccurs="0"/>
<xs:element name="serviceId" type="xs:string" minOccurs="0"/>
<xs:element name="fromTimestamp" type="xs:long"/>
<xs:element name="toTimestamp" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_getInterDependenciesForTimeWindowResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_getMetadata">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GP_getMetadataResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_getDependentHosts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GP_getDependentHostsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_Multihop_getInterDependenciesForTimeWindowAntecedent">
<xs:sequence>
<xs:element name="dependentServiceId" type="xs:string" minOccurs="0"/>
<xs:element name="fromTimestamp" type="xs:long"/>
<xs:element name="toTimestamp" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_Multihop_getInterDependenciesForTimeWindowAntecedentResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_storeBackupData">
<xs:sequence>
<xs:element name="nodeId" type="xs:string" minOccurs="0"/>
<xs:element name="fromTimestamp" type="xs:long"/>
<xs:element name="toTimestamp" type="xs:long"/>
<xs:element name="timeSlotSize" type="xs:int"/>
<xs:element name="backupData" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_storeBackupDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GP_getBackupTargetsOfNode">
<xs:sequence>
<xs:element name="nodeId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_getBackupTargetsOfNodeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Monitor_recordClientConversationFault">
<xs:sequence>
<xs:element name="conversationId" type="xs:int"/>
<xs:element name="clientProcessId" type="xs:string" minOccurs="0"/>
<xs:element name="frontEndServiceId" type="xs:string" minOccurs="0"/>
<xs:element name="faultTimestamp" type="xs:long"/>
<xs:element name="faultType" type="xs:string" minOccurs="0"/>
<xs:element name="exceptionType" type="xs:string" minOccurs="0"/>
<xs:element name="exceptionMessage" type="xs:string" minOccurs="0"/>
<xs:element name="exceptionCauseType" type="xs:string" minOccurs="0"/>
<xs:element name="exceptionCauseMessage" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Monitor_recordClientConversationFaultResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DKL_storeIpDependence">
<xs:sequence>
<xs:element name="dependentIp" type="xs:string" minOccurs="0"/>
<xs:element name="antecedentService" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DKL_storeIpDependenceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GP_getBackupData">
<xs:sequence>
<xs:element name="fromTimestamp" type="xs:long"/>
<xs:element name="toTimestamp" type="xs:long"/>
<xs:element name="timeSlotSize" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_getBackupDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_addMetadata">
<xs:sequence>
<xs:element name="metadataRecords" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_addMetadataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GP_Multihop_getBackupData">
<xs:sequence>
<xs:element name="lastSuccessfulyTransferedBackupData" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_Multihop_getBackupDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_Multihop_getInterDependenciesForTimeWindow">
<xs:sequence>
<xs:element name="dependentServiceId" type="xs:string" minOccurs="0"/>
<xs:element name="fromTimestamp" type="xs:long"/>
<xs:element name="toTimestamp" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_Multihop_getInterDependenciesForTimeWindowResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DKL_getAntecedentServicesOfDependentIp">
<xs:sequence>
<xs:element name="dependentIp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DKL_getAntecedentServicesOfDependentIpResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_Multihop_getSystemDG">
<xs:sequence>
<xs:element name="fromTimestamp" type="xs:long"/>
<xs:element name="toTimestamp" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GP_Multihop_getSystemDGResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>